openai==0.28
langchain
faiss-cpu
pypdf
tiktoken
streamlit-extras
numpy
soundfile
streamlit-autorefresh
streamlit-lottie
streamlit-antd-components==0.3.2
extra-streamlit-components==0.1.60
streamlit_pills
watchdog==3.0.0
streamlit==1.26.0
ipykernel==6.25.1
pdfplumber
openpyxl==2.5.8
